@charset "UTF-8";
/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
メディアクエリ
======================================*/
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
メディアクエリ
======================================*/
body {
  font-size: 16px;
  font-family: "Indie Flower", cursive, "游ゴシック体", sans-serif;
  color: #333333;
  padding-top: 100px;
}

body.open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #FFFFFF;
}

/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
メディアクエリ
======================================*/
/*======================================
共通
======================================*/
.ly_canvas {
  max-width: 1280px;
}

.ly_centered {
  max-width: calc($ly-width-inner + $padding-pc * 2);
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.ly_cont {
  max-width: calc($ly-width-inner + $padding-pc * 2);
  padding-top: 100px;
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1247px) {
  .ly_cont {
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .ly_cont {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================
header
======================================*/
.ly_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3F51B5;
  max-width: 1280px;
  z-index: 20;
}

@media screen and (max-width: 1247px) {
  .ly_header {
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .ly_header {
    height: 60px;
  }
}

.ly_header_inner {
  display: flex;
  max-width: calc($ly-width-inner + $padding-pc * 2);
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1247px) {
  .ly_header_inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .ly_header_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================
main
======================================*/
.ly_main {
  max-width: 1280px;
}

/*======================================
footer
======================================*/
.ly_footer {
  background: -moz-linear-gradient(top, #666666, #333333);
  background: -webkit-linear-gradient(top, #666666, #333333);
  background: linear-gradient(to bottom, #666666, #333333);
  max-width: 1280px;
}

.ly_footer_inner {
  max-width: calc($ly-width-inner + $padding-pc * 2);
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1247px) {
  .ly_footer_inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .ly_footer_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
メディアクエリ
======================================*/
/*======================================
header
======================================*/
.bl_headerUtils {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .bl_headerUtils {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 60px;
  }
}

.bl_headerUtils_logo {
  width: 205px;
}

@media screen and (max-width: 767px) {
  .bl_headerUtils_logo img {
    width: 150px;
  }
}

.bl_gnav {
  margin-left: auto;
  padding-top: 42px;
  padding-bottom: 42px;
  /*OPEN時の動き*/
}

@media screen and (max-width: 767px) {
  .bl_gnav {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.bl_gnav_list {
  display: flex;
}

@media screen and (max-width: 1247px) {
  .bl_gnav_list {
    display: block;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    -webkit-transition: ease .8s;
    transition: ease .8s;
  }
}

@media screen and (max-width: 1247px) {
  .bl_gnav_list.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-align: left;
    transform: translateZ(0);
    z-index: 999;
  }
}

.bl_gnav_item {
  position: relative;
  padding-left: 40px;
}

@media screen and (max-width: 1247px) {
  .bl_gnav_item {
    padding: 20px;
    border-bottom: 1px dotted #707070;
  }
  .bl_gnav_item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url(../img/arrow-b.png) no-repeat center center;
    width: 8px;
    height: 11px;
  }
}

.bl_gnav_item a {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 1247px) {
  .bl_gnav_item a {
    color: #707070;
  }
}

.bl_gnav_item .bl_gnav_item__underRed:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E81919;
  width: 32px;
  height: 2px;
}

/*======================================
mainVisual
======================================*/
.bl_mainVisual {
  background-image: url(../img/mainvisual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 600px;
}

@media screen and (max-width: 1247px) {
  .bl_mainVisual {
    height: 500px;
  }
}

.bl_mainVisual_inner {
  padding-top: 184px;
  padding-bottom: 184px;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_inner {
    padding-bottom: 140px;
  }
}

.bl_mainVisual_title {
  font-size: 64px;
  font-weight: bold;
}

@media screen and (max-width: 1247px) {
  .bl_mainVisual_title {
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_title {
    font-size: 40px;
  }
}

.bl_mainVisual_title br {
  display: none;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_title br {
    display: block;
  }
}

.bl_mainVisual_text {
  font-size: 24px;
  font-weight: bold;
  padding-top: 32px;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_text {
    font-size: 16px;
  }
}

/*======================================
card
======================================*/
.bl_cards {
  display: flex;
  flex-wrap: wrap;
}

.bl_cards__col6 {
  margin-bottom: -24px;
}

.bl_cards__col6 .bl_card {
  background-color: #FFFFFF;
  width: calc(33.3333333% - 24px * 2 / 3);
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 16px;
}

.bl_cards__col6 .bl_card:nth-child(3n) {
  margin-right: 0px;
}

@media screen and (max-width: 1247px) {
  .bl_cards__col6 .bl_card {
    margin-right: 24px;
    width: calc(50% - 24px / 2);
  }
  .bl_cards__col6 .bl_card:nth-child(3n) {
    margin-right: 24px;
  }
  .bl_cards__col6 .bl_card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .bl_cards__col6 .bl_card {
    width: 100%;
    margin-right: 0;
  }
  .bl_cards__col6 .bl_card:nth-child(3n) {
    margin-right: 0px;
  }
}

.bl_cards__col6 .bl_card_img {
  width: 100%;
  text-align: center;
}

.bl_cards__col6 .bl_card_body {
  color: #6F7579;
}

.bl_cards__col6 .bl_card_title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 16px;
}

.bl_cards__col6 .bl_card_text {
  padding-top: 16px;
  line-height: 1.5;
}

/*======================================
news
======================================*/
.bl_newsUnit {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.bl_news {
  display: flex;
  color: #6F7579;
  border-bottom: 1px solid #707070;
  padding-bottom: 12px;
  padding-top: 20px;
}

.bl_news:last-child {
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  .bl_news {
    display: block;
  }
}

.bl_news_left {
  display: flex;
  width: 185px;
}

@media screen and (max-width: 767px) {
  .bl_news_left {
    width: 100%;
  }
}

.bl_news_data {
  margin-right: 20px;
  padding-top: 8px;
}

@media screen and (max-width: 767px) {
  .bl_news_data {
    margin-right: auto;
  }
}

.bl_news_right {
  width: calc(100% - 185px);
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .bl_news_right {
    width: 100%;
    padding-top: 8px;
    padding-left: 0;
  }
}

.bl_news_text {
  padding-top: 8px;
  line-height: 1.2;
}

.bl_news_text a {
  color: #6F7579;
}

/*======================================
price
======================================*/
.bl_price {
  display: flex;
}

@media screen and (max-width: 767px) {
  .bl_price {
    display: block;
  }
}

.bl_price_left {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .bl_price_left {
    margin-right: 0;
  }
}

.bl_price_img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .bl_price_right {
    margin-top: 30px;
  }
}

.bl_price .bl_crossTable {
  max-width: 706px;
}

.bl_price .bl_crossTable table {
  border: 1px solid #707070;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.bl_price .bl_crossTable table th, .bl_price .bl_crossTable table td {
  padding: 20px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  font-weight: bold;
}

@media screen and (max-width: 1247px) {
  .bl_price .bl_crossTable table th, .bl_price .bl_crossTable table td {
    padding: 16px;
  }
}

.bl_price .bl_crossTable table th {
  background-color: #adadad;
  color: #FFFFFF;
}

.bl_price .bl_crossTable table th:first-child {
  width: 170px;
}

@media screen and (max-width: 1247px) {
  .bl_price .bl_crossTable table th:first-child {
    width: 100px;
  }
}

@media screen and (max-width: 1247px) {
  .bl_price .bl_crossTable table th:first-child {
    width: 80px;
  }
}

.bl_price .bl_crossTable table td {
  text-align: right;
}

.bl_price .bl_crossTable table td.bl_crossTable__multiline {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 1247px) {
  .bl_price .bl_crossTable table td.bl_crossTable__multiline {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.bl_price .bl_crossTable table td.bl_crossTable__multiline span {
  font-weight: bold;
}

.bl_price_attention {
  font-size: 14px;
  margin-top: 12px;
}

.bl_price_attention a {
  color: #333333;
  text-decoration: underline;
  font-weight: bold;
}

/*======================================
access
======================================*/
.bl_access {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.bl_access_map {
  position: relative;
  width: 100%;
  padding-top: 50%;
  /* = height ÷ width × 100 */
}

.bl_access_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bl_access_info {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 30px;
}

.bl_access_info dt,
.bl_access_info dd {
  padding-top: 16px;
}

@media screen and (max-width: 767px) {
  .bl_access_info dt,
  .bl_access_info dd {
    padding-top: 10px;
  }
}

.bl_access_info dt {
  width: 104px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .bl_access_info dt {
    width: 90px;
  }
}

.bl_access_info dd {
  width: calc(100% - 104px);
}

@media screen and (max-width: 767px) {
  .bl_access_info dd {
    width: calc(100% - 90px);
  }
}

.bl_access_btn {
  text-align: center;
}

/*======================================
Q&A
======================================*/
.bl_qaUnits {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.bl_qa {
  margin-bottom: 24px;
}

.bl_qa:last-child {
  margin-bottom: 0;
}

.bl_qa_que {
  position: relative;
  background-color: #3F51B5;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 56px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .bl_qa_que {
    padding-left: 40px;
    font-size: 14px;
  }
}

.bl_qa_que::before {
  content: 'Q';
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 11px;
  height: 15px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .bl_qa_que::before {
    left: 10px;
  }
}

.bl_qa_ans {
  display: none;
  position: relative;
  background-color: #FFFFFF;
  color: #3F51B5;
  border: 1px solid #3F51B5;
  padding: 16px 30px 16px 55px;
}

.bl_qa_ans::before {
  content: 'A';
  position: absolute;
  top: 16px;
  left: 20px;
  color: #3F51B5;
  width: 10px;
  height: 15px;
}

/*======================================
contact
======================================*/
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="textarea"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="textarea"]:focus {
  outline: none;
}

input[type="textarea"] {
  height: 240px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 28px;
  margin-right: 28px;
}

@media screen and (max-width: 767px) {
  input[type="radio"] + span {
    display: block;
    margin-top: 8px;
  }
}

input[type="radio"] + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
  display: block;
  border: 1px solid #707070;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  input[type="radio"] + span::before {
    width: 16px;
    height: 16px;
  }
}

input[type="radio"] + span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -23px;
  transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  input[type="radio"] + span::after {
    width: 8px;
    height: 8px;
    left: -24px;
  }
}

input[type="radio"]:checked + span::after {
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

input[type="checkbox"] + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  display: block;
  border: 1px solid #707070;
  width: 25px;
  height: 25px;
}

input[type="checkbox"] + span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -21px;
  transform: translateY(-50%);
  width: 21px;
  height: 16px;
  background: url(../img/check.png) no-repeat center center;
  opacity: 0;
}

input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../img/select-arrow.png) no-repeat;
  background-position: center right 12px;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

select:focus {
  outline: none;
}

input[type="submit"] {
  -webkit-appearance: none;
  background-image: none;
  background-color: #3F51B5;
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

.bl_contact {
  max-width: 800px;
  background-color: #FFFFFF;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .bl_contact {
    padding: 25px 10px;
  }
}

.bl_contact_item {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

@media screen and (max-width: 1247px) {
  .bl_contact_item {
    display: block;
    margin-top: 25px;
  }
}

.bl_contact_item:first-child {
  margin-top: 0;
}

.bl_contact_item span {
  display: inline-block;
  padding-top: 12px;
  font-weight: bold;
}

@media screen and (max-width: 1247px) {
  .bl_contact_item span {
    padding-top: 0;
  }
}

.bl_contact_item input[type="text"],
.bl_contact_item input[type="email"],
.bl_contact_item input[type="textarea"],
.bl_contact_item select {
  display: block;
  width: 520px;
  padding: 12px 16px;
}

@media screen and (max-width: 1247px) {
  .bl_contact_item input[type="text"],
  .bl_contact_item input[type="email"],
  .bl_contact_item input[type="textarea"],
  .bl_contact_item select {
    margin-top: 10px;
    width: 100%;
  }
}

.bl_contact_radio {
  margin-top: 33px;
}

.bl_contact_checkbox {
  margin-top: 67px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .bl_contact_checkbox {
    margin-top: 40px;
  }
}

.bl_contact_checkbox a {
  color: #333333;
  text-decoration: underline;
  font-weight: bold;
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .bl_contact_checkbox a {
    padding-left: 12px;
  }
}

.bl_contact_submit {
  margin-top: 35px;
  text-align: center;
}

.bl_contact_submit input[type="submit"] {
  position: relative;
  padding: 20px 120px;
  border-radius: 8px;
  font-weight: bold;
  background: #3F51B5 url(../img/button-arrow.png) no-repeat;
  background-position: center right 12px;
}

@media screen and (max-width: 767px) {
  .bl_contact_submit input[type="submit"] {
    padding: 15px 100px;
  }
}

/*======================================
footer
======================================*/
.bl_footerUnits {
  display: flex;
  padding-top: 60px;
}

@media screen and (max-width: 1247px) {
  .bl_footerUnits {
    display: block;
  }
}

.bl_footerUnits .bl_footer_left {
  width: 33.33333%;
}

@media screen and (max-width: 1247px) {
  .bl_footerUnits .bl_footer_left {
    width: 100%;
  }
}

.bl_footerUnits .bl_footer_left .bl_footer_logo {
  margin-bottom: 32px;
  width: 205px;
}

@media screen and (max-width: 1247px) {
  .bl_footerUnits .bl_footer_left .bl_footer_logo {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }
}

.bl_footerUnits .bl_footer_left .bl_footer_text {
  color: #FFFFFF;
  margin-top: 14px;
}

@media screen and (max-width: 1247px) {
  .bl_footerUnits .bl_footer_left .bl_footer_text {
    text-align: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .bl_footerUnits .bl_footer_left .bl_footer_text {
    font-size: 14px;
  }
}

.bl_footerUnits .bl_footer_center {
  width: 33.33333%;
}

@media screen and (max-width: 1247px) {
  .bl_footerUnits .bl_footer_center {
    width: 100%;
  }
}

@media screen and (max-width: 1247px) {
  .bl_footerUnits .bl_footer_center .bl_fnav {
    margin-top: 30px;
  }
}

.bl_footerUnits .bl_footer_center .bl_fnav_list {
  display: flex;
  justify-content: center;
}

.bl_footerUnits .bl_footer_center .bl_fnav_item {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .bl_footerUnits .bl_footer_center .bl_fnav_item {
    margin-right: 15px;
    font-size: 14px;
  }
}

.bl_footerUnits .bl_footer_center .bl_fnav_item:last-child {
  margin-right: 0;
}

.bl_footerUnits .bl_footer_right {
  width: 33.33333%;
  text-align: right;
}

@media screen and (max-width: 1247px) {
  .bl_footerUnits .bl_footer_right {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

.bl_footerUnits .bl_footer_right .bl_footer_leftRound,
.bl_footerUnits .bl_footer_right .bl_footer_centerRound,
.bl_footerUnits .bl_footer_right .bl_footer_rightRound {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .bl_footerUnits .bl_footer_right .bl_footer_leftRound,
  .bl_footerUnits .bl_footer_right .bl_footer_centerRound,
  .bl_footerUnits .bl_footer_right .bl_footer_rightRound {
    width: 20px;
    height: 20px;
  }
}

.bl_footerUnits .bl_footer_right .bl_footer_leftRound {
  background-color: #55ACEE;
  margin-right: 16px;
}

.bl_footerUnits .bl_footer_right .bl_footer_centerRound {
  background-color: #3B5998;
  margin-right: 16px;
}

.bl_footerUnits .bl_footer_right .bl_footer_rightRound {
  background-color: #D93177;
}

.bl_footerCopyright {
  color: #FFFFFF;
  margin-top: 46px;
  text-align: center;
  font-size: 14px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1247px) {
  .bl_footerCopyright {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .bl_footerCopyright {
    font-size: 10px;
  }
}

/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
メディアクエリ
======================================*/
/*======================================
ボタン
======================================*/
.el_btn {
  display: inline-block;
  background-color: #3F51B5;
  font-size: 24px;
  font-weight: bold;
  max-width: 100%;
  padding: 24px 120px;
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .el_btn {
    font-size: 20px;
    padding: 20px 40px;
  }
}

.el_btn_small {
  padding: 20px 77px;
}

@media screen and (max-width: 767px) {
  .el_btn_small {
    padding: 16px 20px;
  }
}

.el_btn_rightArrow {
  position: relative;
}

.el_btn_rightArrow::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.png) no-repeat;
}

/*======================================
見出し
======================================*/
.el_lv2Heading {
  position: relative;
  text-align: center;
  font-size: 48px;
  margin-bottom: 108px;
}

@media screen and (max-width: 1247px) {
  .el_lv2Heading {
    font-size: 32px;
    margin-bottom: 70px;
  }
}

.el_lv2Heading span {
  font-weight: bold;
}

.el_lv2Heading::after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3F51B5;
  width: 60px;
  height: 4px;
}

@media screen and (max-width: 1247px) {
  .el_lv2Heading::after {
    width: 50px;
  }
}

/*======================================
ラベル
======================================*/
.el_label {
  width: 80px;
}

.el_label a {
  display: inline-block;
  background-color: #666666;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

.el_label__blue a {
  background-color: #3F51B5;
}

.el_label__red a {
  background-color: #E81919;
}

.el_labelRequired {
  position: relative;
  display: inline-block;
}

.el_labelRequired::after {
  content: '必須';
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: #E81919;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 1247px) {
  .el_labelRequired::after {
    left: unset;
    bottom: unset;
    top: 50%;
    right: -55px;
    transform: translateY(-50%);
  }
}

/*======================================
アイコン
======================================*/
.el_afterIcon {
  display: block;
  text-align: center;
}

.el_afterIcon a {
  color: #E81919;
  font-weight: bold;
}

.el_afterIcon::after {
  content: '';
  display: inline-block;
  margin-left: 7px;
}

.el_afterIcon__rightArrow::after {
  content: '';
  width: 7px;
  height: 12px;
  background-image: url(../img/news-arrow.png);
  vertical-align: middle;
}

/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
メディアクエリ
======================================*/
body {
  font-size: 16px;
  font-family: "Indie Flower", cursive, "游ゴシック体", sans-serif;
  color: #333333;
  padding-top: 100px;
}

body.open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #FFFFFF;
}

/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
/*======================================
メディアクエリ
======================================*/
/*======================================
pageTop
======================================*/
.js_pageTop {
  position: fixed;
  bottom: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
  z-index: 99;
}

.js_pageTop:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .js_pageTop {
    right: 12px;
  }
}

.js_pageTop_move {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../img/totop.png) no-repeat center center;
}

@media screen and (max-width: 767px) {
  .js_pageTop_move {
    max-width: 40px;
    max-height: 40px;
  }
}

/*======================================
swiper
======================================*/
.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 600px;
  z-index: 90;
}

.js_mainVisual {
  background-image: url(../../img/main01.jpg);
}

.js_mainVisual02 {
  background-image: url(../../img/main02.jpg);
}

.js_mainVisual03 {
  background-image: url(../../img/main03.jpg);
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  background: url(../../img/arrow-prev.png) no-repeat center center/contain;
  margin-left: 40px;
}

@media screen and (max-width: 1247px) {
  .swiper-button-prev {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-prev {
    margin-left: 0;
  }
}

.swiper-button-prev::after {
  content: "";
}

.swiper-button-next {
  background: url(../../img/arrow-next.png) no-repeat center center/contain;
  margin-right: 40px;
}

@media screen and (max-width: 1247px) {
  .swiper-button-next {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-next {
    margin-right: 0;
  }
}

.swiper-button-next::after {
  content: "";
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 16px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 16px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

/*======================================
ドロワーメニュー
======================================*/
.js_drawer {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 1247px) {
  .js_drawer {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .js_drawer {
    padding: 19px 0;
  }
}

.js_drawer_toggle {
  z-index: 999;
}

.js_drawer_icons {
  display: none;
}

@media screen and (max-width: 1247px) {
  .js_drawer_icons {
    display: inline-block;
  }
}

.js_drawer_icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 20px;
  margin-left: auto;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.js_drawer_close {
  opacity: 0;
  transition: ease .6s;
}

.js_drawer_close img {
  width: 22px;
  height: 22px;
}

.js_drawer_layer {
  -webkit-transition: ease .8s;
  transition: ease .8s;
}

/*OPEN時の動き*/
.js_drawer_close.open {
  display: block;
  position: fixed;
  top: 20px;
  left: calc(50% - (16px + 22px));
  z-index: 10000;
  opacity: 1;
}

.js_drawer_layer.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.8;
  z-index: 998;
  transform: translateZ(0);
}

/*======================================
Q&Aアコーディオン
======================================*/
.js_qa_icon {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  background: url(../img/plus.png) no-repeat center center;
  width: 12px;
  height: 12px;
}

.js_qa_icon.js_qa_open {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  background: url(../../img/minus.png) no-repeat center center;
  width: 12px;
  height: 12px;
}

/*======================================
モーダル
======================================*/
.js_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.js_modal .js_bgcModal {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.6;
}

.js_modal_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 70.3125%;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1247px) {
  .js_modal_contents {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .js_modal_contents {
    width: 90%;
    padding-top: 20px;
  }
}

.js_modal_contents .js_modal_icon {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  background: url(../../img/btn-batsu.png) no-repeat center center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .js_modal_contents .js_modal_icon {
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.js_modal_heading {
  position: relative;
  text-align: center;
  color: #707070;
  margin-bottom: 64px;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .js_modal_heading {
    font-size: 20px;
  }
}

.js_modal_heading::after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3F51B5;
  width: 100px;
  height: 2px;
}

.js_modal_body {
  overflow: scroll;
  padding-left: 80px;
  padding-right: 60px;
  width: 100%;
  max-height: 340px;
}

@media screen and (max-width: 767px) {
  .js_modal_body {
    padding-left: 40px;
    padding-right: 30px;
    max-height: 250px;
  }
}

.js_modal_content {
  margin-top: 20px;
}

.js_modal_content:first-child {
  margin-top: 0;
}

.js_modal_title {
  position: relative;
  color: #707070;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .js_modal_title {
    font-size: 16px;
  }
}

.js_modal_title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  background-color: #3F51B5;
  width: 4px;
  height: 20px;
}

.js_modal_text {
  color: #707070;
  margin-top: 16px;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .js_modal_text {
    font-size: 14px;
  }
}

.js_modal_btn {
  text-align: center;
  margin-top: 20px;
}

.js_modal_btn a {
  padding: 12px 64px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .js_modal_btn a {
    padding: 10px 32px;
  }
}

/*======================================
フォント
======================================*/
/*======================================
カラー
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
余白
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
フォーム
======================================*/
.hp_mt40 {
  margin-top: 40px;
}

.hp_bgcBase {
  background-color: #EFEFEF;
}

.hp_colorRed {
  color: #E81919;
}

.hp_fz10 {
  font-size: 10px;
}
